//borders
.has-no-border{
  border:0px;
}
.has-curved-border{
  border-radius:50%;
}
.has-primary-border{
  border: 1px solid $primary;
}
.has-gray-border{
  // border: 1px solid $lightGray;
}
//endborder
//shadows
.has-no-shadow{
  box-shadow:none;
}
//end shadows

//background
.has-white-background{
  background:white;
}
.has-primary-background{
  background:$primary;
}
.has-info-background{
  background:$info;
}
.has-transparent-background{
  background:transparent;
}
.has-gray-background{
  // background:$lightGray;
}
.has-background-image{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.has-black-background {
  background-color: black !important;
}
//end background

.flex-column {
  flex-direction: column;
}

//typography
.is-7 {
  font-size: 0.85rem !important;
}
.is-bold{
  font-weight:bold !important;
}
h1.is-white,
h2.is-white,
h3.is-white,
h4.is-white,
h5.is-white,
h6.is-white,
.subtitle.is-white,
.title.is-white{
  color:white;
}
h1.is-info,
h2.is-info,
h3.is-info,
h4.is-info,
h5.is-info,
h6.is-info,{
  color:$info;
}
h1.is-primary,
h2.is-primary,
h3.is-primary,
h4.is-primary,
h5.is-primary,
h6.is-primary,
p.is-primary,
strong.is-primary,
span.is-primary{
  color:$primary;
}
span.is-white,
p.is-white{
  color:$white;
}

.is-underlined{
  text-decoration:underline;
}
//endtypography

//button
.button.is-transparent{
  background:transparent;
  border:none;
  font-size:1.5rem;
  .fa-icon{
    position: relative;
    top:3px;
    margin-left:10px;
  }
  &:hover{
    .fa-icon{
      left:5px;
      animation: all 0.5s;
    }
  }
}
//end button
.is-hoverable{
  cursor:pointer;
}

// positioning
.is-vertically-centered {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
// end positioning



.m-t-5{
  margin-top:5px !important;
}
.m-t-10{
  margin-top:10px !important;
}
.m-t-15{
  margin-top:15px !important;
}
.m-t-25{
  margin-top:25px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-b-5{
  margin-bottom:5px !important;
}
.m-b-10{
  margin-bottom:10px !important;
}
.m-b-15{
  margin-bottom:15px !important;
}
.m-b-25{
  margin-bottom:25px !important;
}
.m-b-50{
  margin-bottom:50px !important;
}
.m-r-10{
  margin-right: 10px !important;
}
.m-l-10{
  margin-left: 10px !important;
}
.is-fullheight{
  min-height:calc(100vh - 200px);
}
.p-0-l-m{
  @media screen and (min-width:769px){
    padding-left:0px;  
  }
  
}
.p-0-r-m{
  @media screen and (min-width:769px){
    padding-right:0px;
  }
}
.p-5{
  padding:5px !important;
}
.p-10{
  padding:10px !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}
@media screen and (max-width:769px){
  .is-fullwidth-mobile{
    width:100%;
  }
}
