//borders
.has-no-border{
  border:0px;
}
.has-curved-border{
  border-radius:50%;
}
//endborder
//shadows
.has-no-shadow{
  box-shadow:none !important;
}
//end shadows

//background
.has-white-background{
  background:white;
}
.has-yellow-background{
  // background:$yellow;
}
.has-light-yellow-background{
  background: rgb(255, 243, 162);
}
.has-green-background{
  // background:$green !important;
}
.has-transparent-background{
  background:transparent;
}
.has-beige-background{
  // background: $textBg !important;
}
.has-background-image{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.has-black-background {
  background-color: black !important;
}
//end background

//typography
.is-7 {
  font-size: 0.85rem !important;
}
.is-bold{
  font-weight:bold !important;
}
.is-green {
  // color:$green !important;
}
.is-beige {
  // color: $textBg;
}

.is-white,
h1.is-white,
h2.is-white,
h3.is-white,
h4.is-white,
h5.is-white,
h6.is-white,
.subtitle.is-white,
.title.is-white{
  color:white !important;
}
h1.is-yellow,
h2.is-yellow,
h3.is-yellow,
h4.is-yellow,
h5.is-yellow,
h6.is-yellow,{
  // color:$yellow !important;
}
.is-blue,
h1.is-blue,
h2.is-blue,
h3.is-blue,
h4.is-blue,
h5.is-blue,
h6.is-blue,
p.is-blue,
strong.is-blue,
span.is-blue{
  // color:$blue;
}
span.is-white,
p.is-white{
  color:$white !important;
}

.is-underlined{
  text-decoration:underline;
}
//endtypography

//button
.button.is-transparent{
  background:transparent;
  border:none;
  font-size:1.5rem;
  .fa-icon{
    position: relative;
    top:3px;
    margin-left:10px;
  }
  &:hover{
    .fa-icon{
      left:5px;
      animation: all 0.5s;
    }
  }
}
//end button
.is-hoverable{
  cursor:pointer;
}

// positioning
.is-vertically-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
// .is-flex-column {}

.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}
// end positioning

.is-50 {
  width: 50%;
}

.m-t-5{
  margin-top:5px !important;
}
.m-t-10{
  margin-top:10px !important;
}
.m-t-15{
  margin-top:15px !important;
}
.m-t-20{
  margin-top:20px !important;
}
.m-t-25{
  margin-top:25px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-t-75 {
  margin-top: 75px !important;
}
.m-b-5{
  margin-bottom:5px !important;
}
.m-b-10{
  margin-bottom:10px !important;
}
.m-b-15{
  margin-bottom:15px !important;
}
.m-b-25{
  margin-bottom:25px !important;
}
.m-b-50{
  margin-bottom:50px !important;
}
.m-b-100{
  margin-bottom:100px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}

.is-fullheight{
  min-height:calc(100vh - 200px);
}
.p-0-l-m{
  @media screen and (min-width:769px){
    padding-left:0px;  
  }
  
}
.p-0-r-m{
  @media screen and (min-width:769px){
    padding-right:0px;
  }
}
.p-5{
  padding:5px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-10{
  padding:10px !important;
}
.p-b-100{
  padding-bottom: 100px !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}
.no-padding {
  padding: 0px !important;
}
.background-center {
  background-position: center !important;
  background-size: cover !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex !important;
}
.flex-center-vertical {
  display: flex;
  align-items: center !important;
}
@media screen and (max-width:769px){
  .is-fullwidth-mobile{
    width:100%;
  }
}
